In [4]:
# importing the basic libraries
import numpy as np     # linear algebra
import pandas as pd       # data processing, CSV file
import matplotlib.pyplot as plt   # for data visualization purpose
import seaborn as sns     # for statistical data visualization

In [5]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
# Import dataset 
df_train =pd.read_csv('SalaryData_Train.csv')
df_test=pd.read_csv('SalaryData_Test.csv')

In [7]:
#So the categorical columns are converted into binary format with label encoder
from sklearn.preprocessing import LabelEncoder
number=LabelEncoder()

In [8]:
# view dimensions of dataset
df_train.shape

(30161, 14)

In [9]:
# preview the dataset
df_train.head()

   age          workclass   education  ...  hoursperweek          native  Salary
0   39          State-gov   Bachelors  ...            40   United-States   <=50K
1   50   Self-emp-not-inc   Bachelors  ...            13   United-States   <=50K
2   38            Private     HS-grad  ...            40   United-States   <=50K
3   53            Private        11th  ...            40   United-States   <=50K
4   28            Private   Bachelors  ...            40            Cuba   <=50K

[5 rows x 14 columns]

In [10]:
df_test.shape

(15060, 14)

In [11]:
df_test.head()

   age   workclass      education  ...  hoursperweek          native  Salary
0   25     Private           11th  ...            40   United-States   <=50K
1   38     Private        HS-grad  ...            50   United-States   <=50K
2   28   Local-gov     Assoc-acdm  ...            40   United-States    >50K
3   44     Private   Some-college  ...            40   United-States    >50K
4   34     Private           10th  ...            30   United-States   <=50K

[5 rows x 14 columns]

In [12]:
df_train.columns
df_test.columns
string_columns=['workclass','education','maritalstatus','occupation','relationship','race','sex','native']

In [13]:
# View top 5 rows of dataset
df_train.head()

   age          workclass   education  ...  hoursperweek          native  Salary
0   39          State-gov   Bachelors  ...            40   United-States   <=50K
1   50   Self-emp-not-inc   Bachelors  ...            13   United-States   <=50K
2   38            Private     HS-grad  ...            40   United-States   <=50K
3   53            Private        11th  ...            40   United-States   <=50K
4   28            Private   Bachelors  ...            40            Cuba   <=50K

[5 rows x 14 columns]

In [14]:
df_test.head()

   age   workclass      education  ...  hoursperweek          native  Salary
0   25     Private           11th  ...            40   United-States   <=50K
1   38     Private        HS-grad  ...            50   United-States   <=50K
2   28   Local-gov     Assoc-acdm  ...            40   United-States    >50K
3   44     Private   Some-college  ...            40   United-States    >50K
4   34     Private           10th  ...            30   United-States   <=50K

[5 rows x 14 columns]

In [15]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
for i in string_columns:
    df_train[i] = label_encoder.fit_transform(df_train[i])
    df_test[i] = label_encoder.fit_transform(df_test[i])

In [16]:
col_names=list(df_train.columns)

train_X = df_train[col_names[0:13]]
train_Y = df_train[col_names[13]]

test_x = df_test[col_names[0:13]]
test_y = df_test[col_names[13]]

In [18]:
# Gaussian Naive Bayes classifier on the both training and test dataset
from sklearn.naive_bayes import GaussianNB

# fit the model
train_pred = GaussianNB().fit(train_X,train_Y).predict(train_X)
test_pred = GaussianNB().fit(train_X,train_Y).predict(test_x)

In [19]:
train_gauNB = np.mean(train_pred==train_Y)
train_gauNB

0.7953317197705646

In [20]:
test_gauNB = np.mean(test_pred==test_y)
test_gauNB

0.7946879150066402

In [21]:
# Multinomial Naive Bayes classifier on the both training and test dataset
from sklearn.naive_bayes import MultinomialNB

# fit the model
train_pred = MultinomialNB().fit(train_X,train_Y).predict(train_X)
test_pred = MultinomialNB().fit(train_X,train_Y).predict(test_x)

In [22]:
train_multiNB = np.mean(train_pred==train_Y)
train_multiNB

0.7729186698053778

In [23]:
test_multiNB = np.mean(test_pred==test_y)
test_multiNB

0.7749667994687915