In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# loading data 
data = pd.read_csv(r"Company_Data.csv")
data.head()

   Sales  CompPrice  Income  Advertising  ...  Age  Education Urban   US
0   9.50        138      73           11  ...   42         17   Yes  Yes
1  11.22        111      48           16  ...   65         10   Yes  Yes
2  10.06        113      35           10  ...   59         12   Yes  Yes
3   7.40        117     100            4  ...   55         14   Yes  Yes
4   4.15        141      64            3  ...   38         13   Yes   No

[5 rows x 11 columns]

In [3]:
data.loc[data.Sales >=8.5,'sales']= 'high'
data.loc[data.Sales <8.5,'sales']= 'low'

In [4]:
data.drop('Sales',1,inplace=True)

In [5]:
data.head()

   CompPrice  Income  Advertising  Population  ...  Education Urban   US  sales
0        138      73           11         276  ...         17   Yes  Yes   high
1        111      48           16         260  ...         10   Yes  Yes   high
2        113      35           10         269  ...         12   Yes  Yes   high
3        117     100            4         466  ...         14   Yes  Yes    low
4        141      64            3         340  ...         13   Yes   No    low

[5 rows x 11 columns]

In [6]:
data.isnull().sum()

CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
sales          0
dtype: int64

In [7]:
data.sales.value_counts()

low     257
high    143
Name: sales, dtype: int64

In [8]:
data.head(2)

   CompPrice  Income  Advertising  Population  ...  Education Urban   US  sales
0        138      73           11         276  ...         17   Yes  Yes   high
1        111      48           16         260  ...         10   Yes  Yes   high

[2 rows x 11 columns]

In [9]:
data.ShelveLoc.value_counts()

Medium    219
Bad        96
Good       85
Name: ShelveLoc, dtype: int64

In [10]:
data.dtypes

CompPrice       int64
Income          int64
Advertising     int64
Population      int64
Price           int64
ShelveLoc      object
Age             int64
Education       int64
Urban          object
US             object
sales          object
dtype: object

In [11]:
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder() 
data['US']= label_encoder.fit_transform(data['US']) 
data['US'].unique()

array([1, 0])

In [12]:
label_encoder = preprocessing.LabelEncoder() 
data['Urban']= label_encoder.fit_transform(data['Urban'])

In [13]:
label_encoder = preprocessing.LabelEncoder() 
data['ShelveLoc']= label_encoder.fit_transform(data['ShelveLoc'])

In [14]:
data.head(2)

   CompPrice  Income  Advertising  Population  ...  Education  Urban  US  sales
0        138      73           11         276  ...         17      1   1   high
1        111      48           16         260  ...         10      1   1   high

[2 rows x 11 columns]

In [15]:
colnames = list(data.columns)
predictors = colnames[0:10]
target = colnames[10]

In [16]:
predictors

['CompPrice',
 'Income',
 'Advertising',
 'Population',
 'Price',
 'ShelveLoc',
 'Age',
 'Education',
 'Urban',
 'US']

In [17]:
target

'sales'

In [18]:
data.dtypes

CompPrice       int64
Income          int64
Advertising     int64
Population      int64
Price           int64
ShelveLoc       int64
Age             int64
Education       int64
Urban           int64
US              int64
sales          object
dtype: object

In [19]:
label_encoder = preprocessing.LabelEncoder() 
data['sales']= label_encoder.fit_transform(data['sales'])

In [20]:
# Splitting data into training and testing data set

from sklearn.model_selection import train_test_split
train,test = train_test_split(data,test_size = 0.2)

In [21]:
from sklearn.tree import  DecisionTreeClassifier
model = DecisionTreeClassifier(criterion = 'entropy')
model.fit(train[predictors],train[target])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [23]:
preds = model.predict(test[predictors])
preds

array([1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1])

In [24]:
pd.Series(preds).value_counts()

pd.crosstab(test[target],preds)

col_0   0   1
sales
0      11  12
1       4  53

In [26]:
# Accuracy 
np.mean(preds==test[target])*100

80.0