In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import files
uploaded=files.upload()

Saving Company_Data(1).csv to Company_Data(1).csv

In [3]:
cd= pd.read_csv("Company_Data(1).csv")

In [4]:
cd.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [5]:
cd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

In [6]:
cd.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000

In [7]:
cd.shape

(400, 11)

In [8]:
cd.columns

Index(['Sales', 'CompPrice', 'Income', 'Advertising', 'Population', 'Price',
       'ShelveLoc', 'Age', 'Education', 'Urban', 'US'],
      dtype='object')

In [9]:
# Defining The data frame
df=pd.DataFrame(cd)

In [11]:
# create dummies for ShelveLoc
dummies = pd.get_dummies(df['ShelveLoc']).rename(columns=lambda x: 'ShelveLoc_' + str(x))
# bring the dummies back into the original dataset
df = pd.concat([df, dummies], axis=1)
print(df)

     Sales  CompPrice  Income  Advertising  Population  Price ShelveLoc  Age  \
0     9.50        138      73           11         276    120       Bad   42
1    11.22        111      48           16         260     83      Good   65
2    10.06        113      35           10         269     80    Medium   59
3     7.40        117     100            4         466     97    Medium   55
4     4.15        141      64            3         340    128       Bad   38
..     ...        ...     ...          ...         ...    ...       ...  ...
395  12.57        138     108           17         203    128      Good   33
396   6.14        139      23            3          37    120    Medium   55
397   7.41        162      26           12         368    159    Medium   40
398   5.94        100      79            7         284     95       Bad   50
399   9.71        134      37            0          27    120      Good   49

     Education Urban   US  ShelveLoc_Bad  ShelveLoc_Good  ShelveLoc_Medium  \
0           17   Yes  Yes              1               0                 0
1           10   Yes  Yes              0               1                 0
2           12   Yes  Yes              0               0                 1
3           14   Yes  Yes              0               0                 1
4           13   Yes   No              1               0                 0
..         ...   ...  ...            ...             ...               ...
395         14   Yes  Yes              0               1                 0
396         11    No  Yes              0               0                 1
397         18   Yes  Yes              0               0                 1
398         12   Yes  Yes              1               0                 0
399         16   Yes  Yes              0               1                 0

     ShelveLoc_Bad  ShelveLoc_Good  ShelveLoc_Medium
0                1               0                 0
1                0               1                 0
2                0               0                 1
3                0               0                 1
4                1               0                 0
..             ...             ...               ...
395              0               1                 0
396              0               0                 1
397              0               0                 1
398              1               0                 0
399              0               1                 0

[400 rows x 17 columns]

In [13]:
df = df.drop('ShelveLoc', 1)

<ipython-input-13-36b87bdf5808>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop('ShelveLoc', 1)

In [14]:
# create dummies for Urban Column
dummies = pd.get_dummies(df['Urban']).rename(columns=lambda x: 'Urban_' + str(x))
# bring the dummies back into the original dataset
df = pd.concat([df, dummies], axis=1)
print(df)

     Sales  CompPrice  Income  Advertising  Population  Price  Age  Education  \
0     9.50        138      73           11         276    120   42         17
1    11.22        111      48           16         260     83   65         10
2    10.06        113      35           10         269     80   59         12
3     7.40        117     100            4         466     97   55         14
4     4.15        141      64            3         340    128   38         13
..     ...        ...     ...          ...         ...    ...  ...        ...
395  12.57        138     108           17         203    128   33         14
396   6.14        139      23            3          37    120   55         11
397   7.41        162      26           12         368    159   40         18
398   5.94        100      79            7         284     95   50         12
399   9.71        134      37            0          27    120   49         16

    Urban   US  ShelveLoc_Bad  ShelveLoc_Good  ShelveLoc_Medium  \
0     Yes  Yes              1               0                 0
1     Yes  Yes              0               1                 0
2     Yes  Yes              0               0                 1
3     Yes  Yes              0               0                 1
4     Yes   No              1               0                 0
..    ...  ...            ...             ...               ...
395   Yes  Yes              0               1                 0
396    No  Yes              0               0                 1
397   Yes  Yes              0               0                 1
398   Yes  Yes              1               0                 0
399   Yes  Yes              0               1                 0

     ShelveLoc_Bad  ShelveLoc_Good  ShelveLoc_Medium  Urban_No  Urban_Yes
0                1               0                 0         0          1
1                0               1                 0         0          1
2                0               0                 1         0          1
3                0               0                 1         0          1
4                1               0                 0         0          1
..             ...             ...               ...       ...        ...
395              0               1                 0         0          1
396              0               0                 1         1          0
397              0               0                 1         0          1
398              1               0                 0         0          1
399              0               1                 0         0          1

[400 rows x 18 columns]

In [15]:
# create dummies for US Column
dummies = pd.get_dummies(df['US']).rename(columns=lambda x: 'US_' + str(x))
# bring the dummies back into the original dataset
df = pd.concat([df, dummies], axis=1)
print(df)

     Sales  CompPrice  Income  Advertising  Population  Price  Age  Education  \
0     9.50        138      73           11         276    120   42         17
1    11.22        111      48           16         260     83   65         10
2    10.06        113      35           10         269     80   59         12
3     7.40        117     100            4         466     97   55         14
4     4.15        141      64            3         340    128   38         13
..     ...        ...     ...          ...         ...    ...  ...        ...
395  12.57        138     108           17         203    128   33         14
396   6.14        139      23            3          37    120   55         11
397   7.41        162      26           12         368    159   40         18
398   5.94        100      79            7         284     95   50         12
399   9.71        134      37            0          27    120   49         16

    Urban   US  ShelveLoc_Bad  ShelveLoc_Good  ShelveLoc_Medium  \
0     Yes  Yes              1               0                 0
1     Yes  Yes              0               1                 0
2     Yes  Yes              0               0                 1
3     Yes  Yes              0               0                 1
4     Yes   No              1               0                 0
..    ...  ...            ...             ...               ...
395   Yes  Yes              0               1                 0
396    No  Yes              0               0                 1
397   Yes  Yes              0               0                 1
398   Yes  Yes              1               0                 0
399   Yes  Yes              0               1                 0

     ShelveLoc_Bad  ShelveLoc_Good  ShelveLoc_Medium  Urban_No  Urban_Yes  \
0                1               0                 0         0          1
1                0               1                 0         0          1
2                0               0                 1         0          1
3                0               0                 1         0          1
4                1               0                 0         0          1
..             ...             ...               ...       ...        ...
395              0               1                 0         0          1
396              0               0                 1         1          0
397              0               0                 1         0          1
398              1               0                 0         0          1
399              0               1                 0         0          1

     US_No  US_Yes
0        0       1
1        0       1
2        0       1
3        0       1
4        1       0
..     ...     ...
395      0       1
396      0       1
397      0       1
398      0       1
399      0       1

[400 rows x 20 columns]

In [ ]:
df = df.drop('Urban', 1)

In [ ]:
df = df.drop('US', 1)

In [ ]:
df.head()

   Sales  CompPrice  Income  Advertising  ...  Urban_No  Urban_Yes  US_No  US_Yes
0   9.50        138      73           11  ...         0          1      0       1
1  11.22        111      48           16  ...         0          1      0       1
2  10.06        113      35           10  ...         0          1      0       1
3   7.40        117     100            4  ...         0          1      0       1
4   4.15        141      64            3  ...         0          1      1       0

[5 rows x 15 columns]

In [ ]:
row_indexes=df[df['Sales']>=10].index
df.loc[row_indexes,'sales']="yes"

In [ ]:
row_indexes=df[df['Sales']<10].index
df.loc[row_indexes,'sales']="no"

In [ ]:
df.head()

   Sales  CompPrice  Income  Advertising  ...  Urban_Yes  US_No  US_Yes  sales
0   9.50        138      73           11  ...          1      0       1     no
1  11.22        111      48           16  ...          1      0       1    yes
2  10.06        113      35           10  ...          1      0       1    yes
3   7.40        117     100            4  ...          1      0       1     no
4   4.15        141      64            3  ...          1      1       0     no

[5 rows x 16 columns]

In [ ]:
df = df.drop('Sales', 1)

In [ ]:
colnames = list(df.columns)
colnames

['CompPrice',
 'Income',
 'Advertising',
 'Population',
 'Price',
 'Age',
 'Education',
 'ShelveLoc_Bad',
 'ShelveLoc_Good',
 'ShelveLoc_Medium',
 'Urban_No',
 'Urban_Yes',
 'US_No',
 'US_Yes',
 'sales']

In [ ]:
predictors = colnames[:14]
target = colnames[14]

In [ ]:
target

'sales'

In [ ]:
predictors

['CompPrice',
 'Income',
 'Advertising',
 'Population',
 'Price',
 'Age',
 'Education',
 'ShelveLoc_Bad',
 'ShelveLoc_Good',
 'ShelveLoc_Medium',
 'Urban_No',
 'Urban_Yes',
 'US_No',
 'US_Yes']

In [ ]:
X = df[predictors]
Y = df[target]
X

     CompPrice  Income  Advertising  ...  Urban_Yes  US_No  US_Yes
0          138      73           11  ...          1      0       1
1          111      48           16  ...          1      0       1
2          113      35           10  ...          1      0       1
3          117     100            4  ...          1      0       1
4          141      64            3  ...          1      1       0
..         ...     ...          ...  ...        ...    ...     ...
395        138     108           17  ...          1      0       1
396        139      23            3  ...          0      0       1
397        162      26           12  ...          1      0       1
398        100      79            7  ...          1      0       1
399        134      37            0  ...          1      0       1

[400 rows x 14 columns]

In [ ]:
Y

0       no
1      yes
2      yes
3       no
4       no
      ...
395    yes
396     no
397     no
398     no
399     no
Name: sales, Length: 400, dtype: object

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_jobs=2,oob_score=True,n_estimators=15,criterion="entropy")

In [ ]:
# Fitting RandomForestClassifier model from sklearn.ensemble
rf.fit(X,Y)
rf.estimators_

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py:523: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py:528: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])

[DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                        max_depth=None, max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=139559265, splitter='best'),
 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                        max_depth=None, max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=1006056534, splitter='best'),
 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                        max_depth=None, max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=435203847, splitter='best'),
 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                        max_depth=None, max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=1060179300, splitter='best'),
 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                        max_depth=None, max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=1542078172, splitter='best'),
 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                        max_depth=None, max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=1799820124, splitter='best'),
 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                        max_depth=None, max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=559110059, splitter='best'),
 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                        max_depth=None, max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=604758812, splitter='best'),
 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                        max_depth=None, max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=1757286574, splitter='best'),
 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                        max_depth=None, max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=1036047257, splitter='best'),
 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                        max_depth=None, max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=975355879, splitter='best'),
 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                        max_depth=None, max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=243036506, splitter='best'),
 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                        max_depth=None, max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=912307361, splitter='best'),
 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                        max_depth=None, max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=1897150534, splitter='best'),
 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                        max_depth=None, max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=1761636172, splitter='best')]

In [ ]:
rf.classes_ # class labels (output)
rf.n_classes_ # Number of levels in class labels

2

In [ ]:
rf.n_features_  # Number of input features in model 14 here.

14

In [ ]:
rf.n_outputs_ # Number of outputs when fit performed

1

In [ ]:
rf.oob_score_  # 0.84

0.855

In [ ]:
rf.predict(X)

array(['no', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'yes', 'no', 'no',
       'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'yes', 'no',
       'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no',
       'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes',
       'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'yes', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes',
       'no', 'yes', 'yes', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes',
       'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'yes', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes',
       'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no',
       'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'no',
       'no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no',
       'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no',
       'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'no', 'no',
       'no', 'yes', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no',
       'no', 'yes', 'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'no',
       'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'yes', 'yes',
       'no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 'no', 'no', 'no',
       'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no'], dtype=object)

In [ ]:
df['rf_pred'] = rf.predict(X)

In [ ]:
cols = ['rf_pred','sales']

In [ ]:
cols

['rf_pred', 'sales']

In [ ]:

from sklearn.metrics import confusion_matrix
confusion_matrix(df['sales'],df['rf_pred'])

array([[321,   0],
       [  0,  79]])